#checkout{
    background-color: #f1f1f1;
    > div{
        background-color: #0E0E0E;
    }
    > section{
        width: 100%;
        height: 100vh;
        position: absolute;
        background-color: #F1F1F1;
        display: none;
        align-items: center;
        justify-content: center;
        > section{
            width: 30%;
            min-height: 50vh;
            background-color: #FFF;
            padding: 20px;
            > img{
                margin-bottom: 20px;
            }
            > h4{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            > p{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                margin-top: 10px;
            }
        }
    }
    > article{
        width: 90%;
        margin: 40px auto;
        > button{
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        main{
            width: 100%;
            min-height: 100vh;
            display: flex;
            align-items: start;
            margin-top: 20px;
            padding-bottom: 40px;
            gap: 20px;
            > section{
                width: 70%;
                min-height: 80vh;
                background-color: #FFF;
                border-radius: 8px;
                padding-left: 30px;
                padding-right: 30px;
                padding-bottom: 30px;
                > h4{
                    font-size: 2rem;
                    margin-top: 30px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                }
                > div{
                    margin-top: 50px;
                    > span{
                        text-transform: uppercase;
                        color: #D87D4A;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    }
                    > nav{
                        margin-top: 15px;
                        display: flex;
                        gap: 20px;
                        > aside{
                            display: flex;
                            flex-direction: column;
                            flex: 1;
                            > label{
                                margin-bottom: 5px;
                                font-size: 14px;
                                font-family: Arial, Helvetica, sans-serif;
                            }
                            > input{
                                border-radius: 5px;
                                outline: none;
                                border: 2px solid #F1F1F1;
                                padding: 0px 10px;
                                min-height: 40px;
                            }
                            > p{
                                color: red;
                                font-size: 12px;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                font-style: italic;
                            }
                        }
                    }
                    > aside{
                        display: flex;
                        flex-direction: column;
                        margin-top: 20px;
                        > label{
                            margin-bottom: 5px;
                            font-size: 14px;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                        > input{
                            border-radius: 5px;
                            outline: none;
                            border: 2px solid #F1F1F1;
                            padding: 0px 10px;
                            min-height: 40px;
                            width: 48%;
                        }
                    }

                    > section{
                        display: flex;
                        margin-top: 15px;
                        justify-content: space-between;
                        > span{
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        }
                        > nav{
                            > aside{
                                display: flex;
                                align-items: center;
                                border: 2px solid #F1F1F1;
                                width: 350px;
                                min-height: 45px;
                                margin-bottom: 15px;
                                padding: 0px 20px;
                                border-radius: 8px;
                                font-size: 0.8rem;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                > input{
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
            > aside{
                flex: 1;
                min-height: 40vh;
                background-color: #FFF;
                padding-left: 20px;
                border-radius: 8px;
                padding-right: 10px;
                padding-bottom: 30px;
                > h2{
                    margin-top: 20px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                }
                > nav{
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    > div{
                        display: flex;
                        align-items: center;
                        > img{
                            width: 60px;
                            margin-right: 8px;
                            border-radius: 5px;
                        }
                        > nav{
                            > h4{
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            }
                            > p{
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                margin-top: 7px;
                                color: #898686;
                            }
                        }
                    }
                    > li{
                        list-style-type: none;
                        color: #898686;
                        font-weight: bold;
                    }
                }

                > summary{
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-family: Arial, Helvetica, sans-serif;
                    > span{
                        color: #898686;
                    }
                }

                > button{
                    width: 100%;
                    margin-top: 30px;
                    min-height: 45px;
                    background-color: #D87D4A;
                    border: none;
                    color: #FFF;
                    cursor: pointer;
                }
            }
        }
    }
}
@media screen and (max-width: 780px){
    #checkout{
        > article{
            width: 95%;
            > form{
                > main{
                    flex-direction: column;
                    width: 100%;
                    > section{
                        width: 100%;
                        > div{
                            > nav{
                                flex-direction: column;
                            }
                            > aside{
                                > input{
                                    width: 100%;
                                }
                            }
                        }

                        > div{
                            > section{
                                flex-direction: column;
                            }
                        }
                    }

                    > aside{
                        width: 100%;
                    }
                }
            }
        }
    }
}