#home{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    > div{
        width: 100%;
        background-color: #0E0E0E;
        > section{
            width: 90%;
            min-height: 90vh;
            margin: auto;
            background-image: url("/Bitmap.png");
            background-repeat: no-repeat;
            background-position: right -30px;
            background-size: contain;
            > span{
                margin-top: 150px;
                display: inline-block;
                font-family: sans-serif;
                letter-spacing: 5px;
                color:  #9e9a9a;   
                margin-bottom: 15px; 
            }
            > h1{
                color: #FFFFFF;
                text-transform: uppercase;
                font-size: 3.5rem;
                font-family: Manrope;
            }
            > p{
                margin-top: 20px;
                color: #9e9a9a;
                font-family: Manrope;
                font-size: 0.95rem;
                width: 32%;
                line-height: 29px;
            }
            button{
                min-width: 150px;
                min-height: 45px;
                margin-top: 20px;
                cursor: pointer;
                background-color: #D87D4A;
                color: #FFFFFF;
                border: none;
                font-family: Manrope;
                transition: all 0.5s;
                &:hover{
                    background-color: #FBAF85;
                }
            }
        }
    }

    > section{
        width: 90%;
        margin: 200px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        background-color: #FFF;
        > div{
            flex: 1;
            min-height: 40vh;
            background-color: #F1F1F1;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
            cursor: pointer;
            &:hover{
                color: #D87D4A;
            }
            > img{
                margin: -60px 0px 40px 0px;
                width: 100px;
                height: 150px;
                object-fit: contain;
            }
            > h4{
                margin-bottom: 30px;
                font-family: Manrope;
            }   
            a{
                text-decoration: none;
                color: #000000;
            }
            p{
                display: flex;
                align-items: center;
                font-size: 13px;
                font-family: Manrope;
                > img{
                    margin-left: 10px;
                }
            }
        }
    }
    > main{
        display: flex;
        flex-direction: column;
        align-items: center;
        > section{
            width: 90%;
            min-height: 70vh;
            background-color: #D87D4A;
            border-radius: 10px;
            background-image: url("/bg.png");
            background-size: contain;
            background-position: left;
            background-repeat: no-repeat;
            display: flex;
            align-items: end;
            justify-content: space-around;
            > img{
                width: 25%;
            }
            > nav{
                width: 40%;
                > h1{
                    color: #FFF;
                    font-size: 3rem;
                }
                > p{
                    color: #F1F1F1;
                    width: 80%;
                    margin-top: 10px;
                    font-size: 15px;
                    line-height: 25px;
                }
                button{
                    margin-bottom:80px;
                    margin-top: 20px;
                    min-width: 150px;
                    min-height: 45px;
                    cursor: pointer;
                    background-color: #0E0E0E;
                    color: #FFFFFF;
                    border: none;
                    cursor: pointer;
                    transition: all 0.5s;
                    &:hover{
                        background-color: #4C4C4C;
                    }
                }
            }
        }

        > aside{
            width: 90%;
            min-height: 50vh;
            margin-top: 50px;
            background-image: url("/Bitmap-bg.png");
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            border-radius: 10px;
            > h1{
                margin-left: 50px;
            }
            button{
                margin-left: 50px;
                margin-top: 25px;
                min-width: 150px;
                min-height: 45px;
                cursor: pointer;
                color: #000000;
                border: 1px solid #000000;
                background-color: transparent;
                cursor: pointer;
                transition: all 0.5s;
                &:hover{
                    background-color: #000000;
                    color: #F1F1F1;
                }
            }
        }

        > summary{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin-top: 50px;
            width: 90%;
            > section{
                flex: 1;
                min-height: 50vh;
                background-color: #F1F1F1;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                > img{
                    width: 100%;
                }
                > h1{
                    margin-left: 100px;
                }
                button{
                    margin-left: 100px;
                    margin-top: 25px;
                    min-width: 150px;
                    min-height: 45px;
                    cursor: pointer;
                    color: #000000;
                    border: 1px solid #000000;
                    background-color: transparent;
                    cursor: pointer;
                    transition: all 0.5s;
                    &:hover{
                        background-color: #000000;
                        color: #F1F1F1;
                    }
                }
            }
        }
    }

}
@media screen and (max-width: 780px){
    #home{
        > div{
            > section{
                background-position: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding-bottom: 20px;
                > p{
                    width: 80%;
                }
            }
        }

        > section{
            flex-direction: column;
            width: 95%;
            > div{
                width: 100%;
                margin-bottom: 50px;
            }
        }

        > main{
            > section{
                flex-direction: column;
                align-items: center;
                width: 95%;
                > img{
                    margin: 20px 0px;
                }
                >nav{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    width: 100%;
                    > p{
                        width: 70%;
                    }
                }
            }

            > aside{
                width: 95%;
                > h1, button{
                    margin-left: 10px;
                }
            }
            > summary{
                flex-direction: column;
                width: 95%;
                > section{
                    h1, button{
                        margin-left: 10px;
                    }
                }
                
            }
        }
    }
}